<?xml version="1.0" encoding="UTF-8"?>
<Confihuration>
	<Appenders>
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout
				pattern="%d{yyyy-MM-dd HH:mm:ss} [%t] %-5level %logger{36}(%F:%L) - %msg%n" />
		</Console>
		<RollingFile name="File" fileName="logs/app.log"
			filePattern="logs/app-%d{dd-MM-yyyy}.log">
			<PatternLayout
				pattern="%d{yyyy-MM-dd HH:mm:ss} [%t] %-5level %logger{36}(%F:%L) - %msg%n" />
			<Filters>
				<ThresholdFilter level="info" />
			</Filters>
			<Policies>
				<TimeBasedTriggeringPolicy />
				<SizeBasedTriggeringPolicy size="2 MB" />
			</Policies>
		</RollingFile>
	</Appenders>
	<Loggers>
		<Logger name="com.my" level="debug" additivity="false">
			<AppenderRef ref="Console" />
			<AppenderRef ref="File" />
		</Logger>
		<Root level="info">
			<AppenderRef ref="Console" />
			<AppenderRef ref="File" />
		</Root>
	</Loggers>
</Confihuration>
<!-- Login levels : ALL TRACE DEBUG INFO WARN ERROR FATAL OFF -->